<footer id="footer">
  <div class="inner-wrap">
    <nav>
      <ul id="footer-nav" class="clearfix">
        <li>
        </li>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Pricing", pricing_path %>
        </li>
        <li>
          <%= link_to "Terms", legal_path %>
        </li>
        <li>
          <%= link_to "Privacy", privacy_path %>
        </li>
        <li>
          <%= link_to "Contact", contact_path %>
        </li>
      </ul>
    </nav>

    <!-- Set margin-top on logo to negative half of image height (to center it vertically) in CSS (.footer-logo) -->
    <a href="index.html"><img class="footer-logo" src="/images/logos/logo-black-footer.png" width="117" height="53" alt="logo"/></a>
    <br>
    <small class="copyright">&copy;2011&nbsp;&nbsp;&middot;&nbsp;&nbsp;Crowd Spot, LLC.</small>

  </div>
</footer>